body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1194px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:755px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:10px;
  width:980px;
  height:755px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:985px;
  height:618px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:765px;
  width:985px;
  height:618px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
